/* You can add global styles to this file, and also import other style files */
h2 {
    color: #071013;
    margin: 10px 0px 10px 0px;
}

h3 {
    color: #224870;
    margin: 10px 0px 10px 0px;
}

body {
    color: #373F51;
    font-family: 'Ubuntu', sans-serif;
}

ul {
    padding: 0;
}

/* Quick fix, don't do this for-real */
img {
    margin: auto;
    width: 25vw;
    height: auto;
    margin: 0vw 12.5vw 0vw 12.5vw;
    text-align: center;
}

@media screen and (max-width: 1300px) {
    img {
        margin: auto;
        width: 40vw;
        height: auto;
        margin: 0vw 5vw 0vw 5vw;
        text-align: center;
    }
  }

  @media screen and (max-width: 800px) {
    body {
      background-color: dodgerblue;
    }
    img {
        margin: auto;
        width: 50vw;
        height: auto;
        text-align: center;
    }
  }